# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database
*.db
*.sqlite3

# Node/Blockchain
node_modules/
build/
artifacts/
cache/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Project Specific
backend/aurahealth.db
backend/vitalens.db
